@charset 'utf-8';

HTML, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
    border:none;
    
    // font-size:12px;
    margin:0px;
    padding:0px;
    }
html,body{
    height: 100%;
    width: 100%;
    }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #666;
}
img{
    border:none;
}
ul,ol,li{
    list-style-type:none;
}
/*公共方法*/
.clear{
    clear: both;
}
.clearleft{
    clear: left;
}
.clearright{
    clear: right;
}


.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.head{
    font-size: 12px;
    font:12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
    
   
   .top{
       width: 100%;
       background-color: #f5f5f5;

       .left{
           float: left;
            padding: 0 20px;
            position: relative;
           .city{
               width: 46px;
               display: inline-block;
           }
           .moreCity{
            border-width: 4px;
            border-style: solid dashed dashed;
            border-color: #999 transparent transparent transparent;
            height: 0;
            width: 0;
            position: absolute;
            top: 12px;
            right: 10px;
        }
       }
      
        .right{
            float: right;
            .af{
                ::after{
                    height: 16px;
                    width: 16px;
                    background-image: url(../img/sprite-sheet.png);
                    background-position: -207px -184px;
                    position: absolute;
                    top: 6px;
                    right: -5px;
                    content:''
                }
            .pd213{
                padding: 0 20px 0 13px;
            }
            }
            >.list{
                .af;
                >li{
                    list-style: none;
                    float: left;
                    position: relative;
                    border: transparent 1px solid;
                    box-sizing: content-box;
                    text-align: left;
                    
                    
                    a:hover{
                        color: #F10180;
                        text-decoration: none;
                    }
                    span{
                        color: #666;
                        display: inline-block;
                        position: relative;
                    }
                    

                    .trigon{
                        border-width: 4px;
                        border-style: solid dashed dashed;
                        border-color: #999 transparent transparent transparent;
                        height: 0;
                        width: 0;
                        position: absolute;
                        top: 12px;
                        right: -10px;
                        display: block;
                    }       
                    .trigon:hover{
                        border-color: transparent transparent #F10180 transparent;
                        position: absolute;
                        top: 8px;
                        cursor:pointer;
                    }
                    .trigon::after{
                        display: none;
                    }   
            }
            .login{
                width: 51px;
                padding: 0 5px 0 15px;
            }
            .sign{               
                padding: 0 20px 0 10px;
                // box-sizing: border-box;
            } 
            .nav-qd{
                padding: 0 17px 0 10px;
                img{
                    vertical-align: sub;
                    position: relative;
                    top: -1px;
                }
                span{
                    margin-left: 3px;
                }
            }
            .user-order{
                width: 48px;
                .pd213;
            }
            .my-sale{
                padding: 0 30px 0 13px;
            }
            .member{
                padding: 0 30px 0 13px;
            }
            .client{
                width: 70px;
                padding: 0 15px 0 15px;
                box-sizing: content-box;
            }

            .phone{
                .pd213;
                .phone-img{
                    background-image: url(../img/sprite-sheet.png);
                    background-position: -294px -142px;
                    width: 10px;
                    height: 14px;
                    display: inline-block;
                    vertical-align: sub;
                    margin: 0 2px 0 0;
                }
            }
            .nav-more{
                .pd213;
            }

            li:last-child::after,span::after,a::after,i::after{
                display: none;
            }
           
        }
        }

       >div{
            height: 28px;
          line-height: 27px;
       }
   }
   
   .center{
       position: relative;
       margin: 0 auto;
           .logo{
               float: left;
            img{
                width: 160px;
                height: 100px;
            }
           }
           .logo-right{
               position: relative;
            float: left;
               img{
                   position: absolute;
                   top: 0;
                   left: 0;
               width: 304px;
               height: auto;
                z-index: 1;
               }
  
               a{
                   position: relative;
                   z-index: 2;
                   display: inline-block;
                   width: 100px;
                   height: 100px;
                   
                }
                
           }
           .search{
            float: right;
            width: 391px;
            margin-top: 33px;
            position: absolute;
            right: 200px;
            
             .searchbox{
                box-sizing: content-box;
                 width: 387px;
                 height: 32px;
                 border: 2px solid #fa2a83;
                 border-radius: 2px;
                 position: relative;
                 input{
                    //  display: inline-block;
                    box-sizing: content-box;
                     padding: 2px 12px;
                     width: 311px;height: 28px;
                     border: none;
                     padding: 2px 12px;
                     outline: none;
                 }
                 a{
                     display: inline-block;
                     background:#fa2a83;
                     width: 53px;
                     height: 32px;
                     vertical-align: top;
                     padding-top: 6px;
                     position: absolute;
                     top: 0;
                     right: 0;
                     text-align: center;
                     line-height:32px;
                     
                     .search-icon{
                         display: inline-block;
                        background-image: url(../img/sprite-sheet.png);
                        background-position: -285px -104px;
                        width: 19px;
                        height: 22px;
                        
                     }
                 }
                 
                 
             }

            .search-list{
                li{
                    margin-right: 6px;
                    display: inline-block;
                    a{
                        color: #999;
                    }
                    a:hover{
                        text-decoration: none;
                        color: #999;
                   }
                  
                }
            }
        }
        .car{
        box-sizing: content-box;
        margin-top: 33px;
        float: right;
        position: relative;
            width: 36px;
            height: 32px;
            border:  1px solid #ccc;
            padding-left: 25px;
            padding-right: 33px;
            line-height: 32px;
            cursor: pointer;
            border-radius: 2px;
            background-color: #f6f7f9;
           a:hover{
               color: #666;
           }
            .shop-car{
                background-image: url(../img/sprite-sheet.png);
                background-position: 0 -208px;
                width: 12px;
                height: 17px;
                position: absolute;
                top:8px;
                left: 8px;
            }
            span:nth-child(2){
                display: inline-block;
            }

            span:last-child{
                position: absolute;
                top: 8px;
                right: 3px;
                height: 16px;
                width: 24px;
                background-color: #f00581;
                text-align: center;
                line-height: 16px;
                color: #fff;
                border-radius: 8px;
            }
        }
       }
.bottom{
    
    a:hover{
        text-decoration: none;
    }
    .list{
       
        padding:0 180px 0 60px;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        text-align: center;
        line-height: 43px;
        li:first-child{
            background-color:#f10180 ;
            width: 156px;
           a{
               height: 43px;
               display: block;
               color: #fff;
               line-height: 43px;
           }
           >a:hover{
            color: #fff;
           }
        }


        li{
            float: left;
            a{
                color: black;
            }
            a:hover{
                color: #f10180 ;
               }
            
        }
        li:nth-child(2){
            a{
                color: #f10180 ;
                font-weight: 900;
            }   
        }
    }
}
    }
   