@charset 'utf-8';
.main{
    padding-top: 20px;
    .top{
        display: flex;
        .left{
            img{
                width: 420px;
                height: 420px
            }
            .img-top{
                .botimg{
                    display: flex;
                    position: relative;
                    .lt{
                        width: 29px;
                        height: 64px;
                        line-height: 64px;
                        text-align: center;
                        color: #fff;
                        font-size: 20px;
                        background: rgba(0,0,0,.3);
                    }
                    .gt{
                        position: absolute;
                        right: 0;
                            width: 29px;
                            height: 64px;
                            line-height: 64px;
                            text-align: center;
                            color: #fff;
                            font-size: 20px;
                            background: rgba(0,0,0,.3);
                    }
                    .list{
                        display: flex;
                        li{
                            margin: 0 5px;
                            border: 1px solid #f2f2f2;
                        }
                        li:hover{
                            border-color: #f10180;
                        }
                        img{
                            width: 62px;
                            height: 62px;
                        }
                    }
                }
            }
           
        }
        .right{
            font-size: 12px;
            margin-left: 30px;
            h4{
                font-size: 16px;
                margin-top: 30px;
                font-weight: 900;
                margin-bottom: 20px;
            }
            .pricebg{
                position: relative;
                img{
                    width: 550px;
                    height: 94px;
                }
                >span{
                    color: #fff;
                }
                >span:nth-of-type(1){
                    position: absolute;
                    left: 24px;
                    top: 22px;
                    font-size: 25px;
                    
                }
                >span:nth-of-type(2){
                    position: absolute;
                    left: 45px;
                    top: 7px;
                    font-size: 40px;
                    
                }
                >span:nth-of-type(3){
                    position: absolute;
                    left: 145px;
                    top:30px;
                    font-size: 16px;
                }
                >span:nth-of-type(4){
                    position: absolute;
                    right:  30px;
                    top:20px;
                   display: inline-block;
                   img{
                       width: 100px;
                       height: 24px;
                   }
                }
                >span:nth-of-type(5){
                    position: absolute;
                    right:  30px;
                    top:50px;
                   font-size: 12px;
                   
                }
                >span:nth-of-type(6){
                    position: absolute;
                   left:  30px;
                   bottom:12px;
                   font-size: 15px;
                   display: inline-block;
                   color: #ce0e74;
                    padding: 0 12px;
                    background: #ffe1f3;
                    border-radius: 3px;
                }
            }

            .city{
                margin-top:15px;
                color: #999;
                line-height: 30px;
                p{
                    color: black;
                    padding:0 10px;
                    margin-left: 15px;
                    height: 30px;
                    display: inline-block;
                    width: 250px;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    background-color: #fff;
                    position: relative;
                    span{
                        position: absolute;
                        right: 15px;
                    }
                }
            }
            .yf{
                margin-top:15px;
                color: #999;
                line-height: 30px;
                span{
                    margin-right: 15px;
                }
            }
            .color{
                margin-top:15px;
                color: #999;
                line-height: 30px;
                span:nth-of-type(1){
                    margin-right: 15px;
                }

                span:nth-of-type(2){
                    display: inline-block;
                    width: 100px;
                    height: 20px;
                    border: 2px solid #f10180;
                    text-align: center;
                    line-height: 16px;
                    color: black;
                }
            }

            .gg{
                margin-top:15px;
                color: #999;
                line-height: 30px;
                span:nth-of-type(1){
                    margin-right: 15px;
                }
                span:nth-of-type(2){
                    display: inline-block;
                    padding: 10px 15px;
                    height: 20px;
                    border: 2px solid #f10180;
                    text-align: center;
                    line-height: 4px;
                    color: black;
                }
            }

            .num{
                margin-top:15px;
                color: #999;
                line-height: 30px;
                span:nth-of-type(1){
                    margin-right: 15px;
                }
                .num-btn{
                    display: inline-block;
                    input{
                        appearance: none
                    }
                }
            }
        }
    }
    
}