@charset 'utf-8';
HTML,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  border: none;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #666;
}
img {
  border: none;
}
ul,
ol,
li {
  list-style-type: none;
}
/*公共方法*/
.clear {
  clear: both;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.head {
  font-size: 12px;
  font: 12px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}
.head .top {
  width: 100%;
  background-color: #f5f5f5;
}
.head .top .left {
  float: left;
  padding: 0 20px;
  position: relative;
}
.head .top .left .city {
  width: 46px;
  display: inline-block;
}
.head .top .left .moreCity {
  border-width: 4px;
  border-style: solid dashed dashed;
  border-color: #999 transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 12px;
  right: 10px;
}
.head .top .right {
  float: right;
}
.head .top .right .af ::after {
  height: 16px;
  width: 16px;
  background-image: url(../img/sprite-sheet.png);
  background-position: -207px -184px;
  position: absolute;
  top: 6px;
  right: -5px;
  content: '';
}
.head .top .right .af .pd213 {
  padding: 0 20px 0 13px;
}
.head .top .right > .list ::after {
  height: 16px;
  width: 16px;
  background-image: url(../img/sprite-sheet.png);
  background-position: -207px -184px;
  position: absolute;
  top: 6px;
  right: -5px;
  content: '';
}
.head .top .right > .list .pd213 {
  padding: 0 20px 0 13px;
}
.head .top .right > .list > li {
  list-style: none;
  float: left;
  position: relative;
  border: transparent 1px solid;
  box-sizing: content-box;
  text-align: left;
}
.head .top .right > .list > li a:hover {
  color: #F10180;
  text-decoration: none;
}
.head .top .right > .list > li span {
  color: #666;
  display: inline-block;
  position: relative;
}
.head .top .right > .list > li .trigon {
  border-width: 4px;
  border-style: solid dashed dashed;
  border-color: #999 transparent transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 12px;
  right: -10px;
  display: block;
}
.head .top .right > .list > li .trigon:hover {
  border-color: transparent transparent #F10180 transparent;
  position: absolute;
  top: 8px;
  cursor: pointer;
}
.head .top .right > .list > li .trigon::after {
  display: none;
}
.head .top .right > .list .login {
  width: 51px;
  padding: 0 5px 0 15px;
}
.head .top .right > .list .sign {
  padding: 0 20px 0 10px;
}
.head .top .right > .list .nav-qd {
  padding: 0 17px 0 10px;
}
.head .top .right > .list .nav-qd img {
  vertical-align: sub;
  position: relative;
  top: -1px;
}
.head .top .right > .list .nav-qd span {
  margin-left: 3px;
}
.head .top .right > .list .user-order {
  width: 48px;
  padding: 0 20px 0 13px;
}
.head .top .right > .list .my-sale {
  padding: 0 30px 0 13px;
}
.head .top .right > .list .member {
  padding: 0 30px 0 13px;
}
.head .top .right > .list .client {
  width: 70px;
  padding: 0 15px 0 15px;
  box-sizing: content-box;
}
.head .top .right > .list .phone {
  padding: 0 20px 0 13px;
}
.head .top .right > .list .phone .phone-img {
  background-image: url(../img/sprite-sheet.png);
  background-position: -294px -142px;
  width: 10px;
  height: 14px;
  display: inline-block;
  vertical-align: sub;
  margin: 0 2px 0 0;
}
.head .top .right > .list .nav-more {
  padding: 0 20px 0 13px;
}
.head .top .right > .list li:last-child::after,
.head .top .right > .list span::after,
.head .top .right > .list a::after,
.head .top .right > .list i::after {
  display: none;
}
.head .top > div {
  height: 28px;
  line-height: 27px;
}
.head .center {
  position: relative;
  margin: 0 auto;
}
.head .center .logo {
  float: left;
}
.head .center .logo img {
  width: 160px;
  height: 100px;
}
.head .center .logo-right {
  position: relative;
  float: left;
}
.head .center .logo-right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: auto;
  z-index: 1;
}
.head .center .logo-right a {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100px;
  height: 100px;
}
.head .center .search {
  float: right;
  width: 391px;
  margin-top: 33px;
  position: absolute;
  right: 200px;
}
.head .center .search .searchbox {
  box-sizing: content-box;
  width: 387px;
  height: 32px;
  border: 2px solid #fa2a83;
  border-radius: 2px;
  position: relative;
}
.head .center .search .searchbox input {
  box-sizing: content-box;
  width: 311px;
  height: 28px;
  border: none;
  padding: 2px 12px;
  outline: none;
}
.head .center .search .searchbox a {
  display: inline-block;
  background: #fa2a83;
  width: 53px;
  height: 33px;
  vertical-align: top;
  padding-top: 6px;
  position: absolute;
  top: 0;
  right: -1px;
  text-align: center;
  line-height: 32px;
}
.head .center .search .searchbox a .search-icon {
  display: inline-block;
  background-image: url(../img/sprite-sheet.png);
  background-position: -285px -104px;
  width: 19px;
  height: 22px;
}
.head .center .search .search-list li {
  margin-right: 6px;
  display: inline-block;
}
.head .center .search .search-list li a {
  color: #999;
}
.head .center .search .search-list li a:hover {
  text-decoration: none;
  color: #999;
}
.head .center .car {
  box-sizing: content-box;
  margin-top: 33px;
  float: right;
  position: relative;
  width: 36px;
  height: 32px;
  border: 1px solid #ccc;
  padding-left: 25px;
  padding-right: 33px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #f6f7f9;
}
.head .center .car a:hover {
  color: #666;
}
.head .center .car .shop-car {
  background-image: url(../img/sprite-sheet.png);
  background-position: 0 -208px;
  width: 12px;
  height: 17px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.head .center .car span:nth-child(2) {
  display: inline-block;
}
.head .center .car span:last-child {
  position: absolute;
  top: 8px;
  right: 3px;
  height: 16px;
  width: 24px;
  background-color: #f00581;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 8px;
}
.head .bottom a:hover {
  text-decoration: none;
}
.head .bottom .list {
  padding: 0 180px 0 60px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  text-align: center;
  line-height: 43px;
}
.head .bottom .list li:first-child {
  background-color: #f10180;
  width: 156px;
}
.head .bottom .list li:first-child a {
  height: 43px;
  display: block;
  color: #fff;
  line-height: 43px;
}
.head .bottom .list li:first-child > a:hover {
  color: #fff;
}
.head .bottom .list li {
  float: left;
}
.head .bottom .list li a {
  color: black;
}
.head .bottom .list li a:hover {
  color: #f10180;
}
.head .bottom .list li:nth-child(2) a {
  color: #f10180;
  font-weight: 900;
}
