@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('../img/font_6qn5lbe3bfm/iconfont.eot');
  src: url('../img/font_6qn5lbe3bfm/iconfont.eot?#iefix') format('embedded-opentype'), url('../img/font_6qn5lbe3bfm/iconfont.woff2') format('woff2'), url('../img/font_6qn5lbe3bfm/iconfont.woff') format('woff'), url('../img/font_6qn5lbe3bfm/iconfont.ttf') format('truetype'), url('../img/font_6qn5lbe3bfm/iconfont.svg#iconfont') format('svg');
}
main .banner-bg {
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  height: 440px;
  padding-top: 20px;
}
main .banner-bg .banner_wrap {
  height: 400px;
  padding: 12px;
  padding-bottom: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.86);
  width: 1000px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  box-shadow: 0 1px 3px rgba(167, 167, 167, 0.4);
}
main .banner-bg .banner_wrap:hover .right {
  width: 30px;
}
main .banner-bg .banner_wrap:hover .left {
  width: 30px;
}
main .banner-bg .banner_wrap > ul li {
  position: absolute;
  display: none;
}
main .banner-bg .banner_wrap > ul li img {
  height: 340px;
}
main .banner-bg .left,
main .banner-bg .right {
  position: absolute;
  z-index: 999;
  background: #000;
  opacity: 0.4;
  cursor: pointer;
  font-weight: bold;
  width: 0px;
  height: 60px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "黑体";
  line-height: 40px;
  text-align: center;
  padding: 10px 0;
  top: 150px;
  overflow: hidden;
}
main .banner-bg .right {
  right: 14px;
}
main .banner-bg .on {
  z-index: 9;
}
main .banner-bg .banner_select {
  text-align: center;
  width: 976px;
  left: 50%;
  margin-left: -488px;
  height: 40px;
  position: absolute;
  bottom: 0;
}
main .banner-bg .banner_select > ul {
  width: 100%;
  height: 40px;
  text-align: center;
}
main .banner-bg .banner_select > ul > li {
  font-size: 12px;
  display: inline-block;
  width: 195px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
  color: #666;
  cursor: pointer;
  border-bottom: transparent 3px solid;
  position: relative;
}
main .banner-bg .banner_select > ul > li a {
  border-right: 1px solid #c0c0c0;
  display: block;
  height: 15px;
  margin-top: 11px;
  text-decoration: none;
}
main .banner-bg .banner_select ul a:hover {
  color: black;
}
main .banner-bg .banner_select ul li:nth-of-type(2) a {
  border-right: none;
}
main .banner-bg .last {
  border: 0px !important;
}
main .banner-bg .J_trigger_line {
  background-color: #e6057d;
  position: absolute;
  bottom: -3px;
  left: 292px;
  z-index: 9999;
  height: 3px;
  width: 195px;
}
main .sale {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}
main .sale .sale-list {
  display: flex;
  justify-content: space-between;
}
main .everyDay {
  margin-top: 20px;
}
main .everyDay .day-img img {
  width: 100%;
}
main .everyDay .top {
  display: flex;
  margin-top: 20px;
}
main .everyDay .top .left {
  width: 500px;
  height: 284px;
  position: relative;
}
main .everyDay .top .left img:first-child {
  width: 100%;
}
main .everyDay .top .left .discount-img {
  top: 60px;
  width: 147px;
  height: 186px;
  border-radius: 0px;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
}
main .everyDay .top .left .discount-1 {
  left: 18px;
}
main .everyDay .top .left .discount-2 {
  left: 172px;
}
main .everyDay .top .left .discount-3 {
  left: 326px;
}
main .everyDay .top .left .salePrice {
  background-image: url(../img/1599208735987_100x38_90.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 10px;
  left: 50px;
  top: 254px;
  display: inline-block;
  width: 40px;
  height: 19px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
}
main .everyDay .top .left .salePriceNum {
  position: absolute;
  bottom: 10px;
  left: 82px;
  top: 254px;
  display: inline-block;
  width: 50px;
  height: 19px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}
main .everyDay .top .left .discount-bg {
  position: absolute;
  left: 39px;
  top: 174px;
  width: 105px;
  height: 64px;
}
main .everyDay .top .left .fenteng {
  position: absolute;
  left: 58px;
  top: 180px;
  width: 66px;
  height: 33px;
}
main .everyDay .top .left .fenTengText {
  color: #585c64;
  position: absolute;
  left: 70px;
  top: 215px;
  width: 66px;
}
main .everyDay .top .left .xtbg1 {
  position: absolute;
  left: 189px;
  top: 174px;
  width: 105px;
  height: 64px;
}
main .everyDay .top .left .xtbg2 {
  position: absolute;
  left: 208px;
  top: 180px;
  width: 66px;
  height: 33px;
}
main .everyDay .top .left .xttext {
  color: #585c64;
  position: absolute;
  left: 220px;
  top: 215px;
  width: 66px;
}
main .everyDay .top .left .yge1 {
  position: absolute;
  left: 345px;
  top: 174px;
  width: 105px;
  height: 64px;
}
main .everyDay .top .left .yge2 {
  position: absolute;
  left: 366px;
  top: 180px;
  width: 66px;
  height: 33px;
}
main .everyDay .top .left .yget {
  color: #585c64;
  position: absolute;
  left: 375px;
  top: 215px;
  width: 66px;
}
main .everyDay .top .right {
  width: 500px;
  height: 284px;
  position: relative;
}
main .everyDay .top .right img:first-child {
  right: 0px;
  top: 0px;
  width: 100%;
  height: 284px;
  position: absolute;
}
main .everyDay .top .right .right-1 {
  left: 18px;
  top: 60px;
  width: 146px;
  height: 213px;
  position: absolute;
}
main .everyDay .top .right .right-2 {
  left: 18px;
  top: 60px;
  width: 146px;
  height: 186px;
  position: absolute;
}
main .everyDay .top .right .right-3 {
  left: 40px;
  top: 217px;
  width: 104px;
  height: 19px;
  position: absolute;
}
main .everyDay .top .right .right-10 {
  left: 30px;
  top: 250px;
  width: 106px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  text-align: center;
  position: absolute;
}
main .everyDay .top .right .right-4 {
  left: 172px;
  top: 60px;
  width: 146px;
  height: 213px;
  position: absolute;
}
main .everyDay .top .right .right-5 {
  left: 172px;
  top: 60px;
  width: 146px;
  height: 186px;
  position: absolute;
}
main .everyDay .top .right .right-6 {
  left: 194px;
  top: 217px;
  width: 104px;
  height: 19px;
  position: absolute;
}
main .everyDay .top .right .right-11 {
  left: 184px;
  top: 250px;
  width: 106px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  text-align: center;
  position: absolute;
}
main .everyDay .top .right .right-7 {
  left: 326px;
  top: 60px;
  width: 146px;
  height: 213px;
  position: absolute;
}
main .everyDay .top .right .right-8 {
  left: 326px;
  top: 60px;
  width: 146px;
  height: 186px;
  position: absolute;
}
main .everyDay .top .right .right-9 {
  left: 348px;
  top: 217px;
  width: 104px;
  height: 19px;
  position: absolute;
}
main .everyDay .top .right .right-12 {
  left: 343px;
  top: 250px;
  width: 106px;
  height: 18px;
  font-size: 14px;
  color: #222222;
  text-align: center;
  position: absolute;
}
main .everyDay .bottom {
  width: 1000px;
  height: 298px;
  position: relative;
}
main .everyDay .bottom .list {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/wpkq.png);
  background-size: contain;
  width: 1000px;
  height: 298px;
  position: relative;
}
main .everyDay .bottom .list li {
  border: 1px solid #999;
  margin-top: 74px;
  text-align: center;
  width: 145px;
}
main .everyDay .bottom .list li img {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}
main .everyDay .bottom .list li a {
  text-decoration: none;
}
main .everyDay .bottom .list li a div {
  margin-top: 10px;
}
main .everyDay .bottom .list li a:hover {
  color: #f10180;
}
main .everyDay .bottom .list li img {
  display: block;
  height: 145px;
}
main .brand {
  margin: 50px;
}
main .brand a {
  text-decoration: none;
}
main .brand .woman {
  margin: 50px 0;
  position: relative;
}
main .brand .woman > a {
  position: absolute;
  bottom: 0;
  right: 17px;
}
main .brand .woman > a span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  color: #999;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 3px;
  right: -16px;
}
main .brand .woman > a:hover {
  color: #f10180;
}
main .brand .woman > a:hover span {
  border-color: #f10180;
  color: #f10180;
}
main .brand .brand-line {
  border-bottom: 1px solid black;
}
main .brand .brand-img {
  display: flex;
}
main .brand .brand-img a {
  color: black;
}
main .brand .brand-img .sc {
  background: #fff;
  opacity: 0;
  border-radius: 16px;
  padding: 0 5px;
  position: absolute;
  right: 15px;
  bottom: 70px;
  font-size: 12px;
  line-height: 20px;
  transition: opacity 0.5s ease-in;
}
main .brand .brand-img .sc .iconfont {
  color: #f10180;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main .brand .brand-img .sc:hover {
  background: #f10180;
}
main .brand .brand-img .sc:hover a {
  color: #fff;
}
main .brand .brand-img .sc:hover .iconfont {
  color: #fff;
}
main .brand .brand-img .left {
  transition: all 1s ease-in;
  position: relative;
  background: #fff;
  margin-right: 10px;
}
main .brand .brand-img .left img {
  width: 490px;
  height: 235px;
}
main .brand .brand-img .left h4 {
  font-weight: 900;
  font-family: MicrosoftYaHei;
  margin: 10px 0;
}
main .brand .brand-img .left p {
  font-size: 16px;
}
main .brand .brand-img .left p span {
  color: #f10180;
  margin-right: 5px;
  font-weight: 900;
}
main .brand .brand-img .left:hover .sc {
  opacity: 1;
}
main .brand .brand-img .right {
  margin-left: 10px;
  position: relative;
}
main .brand .brand-img .right img {
  width: 490px;
  height: 235px;
}
main .brand .brand-img .right h4 {
  font-weight: 900;
  font-family: MicrosoftYaHei;
  margin: 10px 0;
}
main .brand .brand-img .right p {
  font-size: 16px;
}
main .brand .brand-img .right p span {
  color: #f10180;
  margin-right: 5px;
  font-weight: 900;
}
main .brand .brand-img .right:hover .sc {
  opacity: 1;
}
main .brand .more {
  margin-top: 30px;
  border-top: 1px solid #e8e8e8;
}
main .brand .more a {
  border-radius: 3px;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  width: 324px;
  height: 44px;
  color: #fff;
  background: #f10180;
}
main .brand .more a:hover {
  background: #f43499;
}
main .brand .shoe {
  margin: 50px 0;
  position: relative;
}
main .brand .shoe > a {
  position: absolute;
  bottom: 0;
  right: 17px;
}
main .brand .shoe > a span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  color: #999;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 3px;
  right: -16px;
}
main .brand .shoe > a:hover {
  color: #f10180;
}
main .brand .shoe > a:hover span {
  border-color: #f10180;
  color: #f10180;
}
