@charset 'utf-8';
@font-face {
  font-family: 'iconfont';
  src: url('../img/font_tcnhhabv7ap/iconfont.eot');
  src: url('../img/font_tcnhhabv7ap/iconfont.eot?#iefix') format('embedded-opentype'), url('../img/font_tcnhhabv7ap/iconfont.woff2') format('woff2'), url('../img/font_tcnhhabv7ap/iconfont.woff') format('woff'), url('../img/font_tcnhhabv7ap/iconfont.ttf') format('truetype'), url('../img/font_tcnhhabv7ap/iconfont.svg#iconfont') format('svg');
}
.main {
  padding-top: 20px;
}
.main .top {
  display: flex;
}
.main .top .top-left .img-top > img {
  width: 420px;
  height: 420px;
}
.main .top .top-left .img-top .botimg {
  display: flex;
  position: relative;
}
.main .top .top-left .img-top .botimg .lt {
  width: 29px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.main .top .top-left .img-top .botimg .lt:hover {
  background: rgba(0, 0, 0, 0.5);
}
.main .top .top-left .img-top .botimg .gt {
  position: absolute;
  right: 0;
  width: 29px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.main .top .top-left .img-top .botimg .gt:hover {
  background: rgba(0, 0, 0, 0.5);
}
.main .top .top-left .img-top .botimg .list {
  display: flex;
}
.main .top .top-left .img-top .botimg .list li {
  margin: 0 5px;
  border: 1px solid #f2f2f2;
}
.main .top .top-left .img-top .botimg .list li:hover {
  border-color: #f10180;
}
.main .top .top-left .img-top .botimg .list img {
  width: 62px;
  height: 62px;
}
.main .top .top-left .img-top .sc {
  padding-top: 10px;
  position: relative;
  border-bottom: 1px dashed #e2e2e2;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.main .top .top-left .img-top .sc span:nth-of-type(1) {
  color: #666;
  font-size: 12px;
  margin-right: 5px;
}
.main .top .top-left .img-top .sc .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main .top .top-left .img-top .sc a {
  text-decoration: none;
  font-size: 12px;
}
.main .top .top-left .img-top .sc a:nth-of-type(1) {
  margin-right: 5px;
}
.main .top .top-left .img-top .sc a:nth-of-type(1) span {
  color: #f10180;
  font-size: 18px;
}
.main .top .top-left .img-top .sc a:nth-of-type(1):hover {
  color: #f10180;
}
.main .top .top-left .img-top .sc a:nth-of-type(2) {
  display: inline-block;
  text-align: center;
  border: 1px solid #666;
  position: absolute;
  right: 0;
  top: 15px;
  color: black;
  width: 90px;
}
.main .top .top-left .img-top .sc a:nth-of-type(2) span {
  font-size: 16px;
}
.main .top .top-left .img-top .sc a:nth-of-type(2):hover {
  color: black;
}
.main .top .right {
  font-size: 12px;
  margin-left: 30px;
  position: relative;
}
.main .top .right h4 {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.main .top .right .pricebg {
  position: relative;
}
.main .top .right .pricebg img {
  width: 550px;
  height: 94px;
}
.main .top .right .pricebg > span {
  color: #fff;
}
.main .top .right .pricebg > span:nth-of-type(1) {
  position: absolute;
  left: 24px;
  top: 22px;
  font-size: 25px;
}
.main .top .right .pricebg > span:nth-of-type(2) {
  position: absolute;
  left: 45px;
  top: 7px;
  font-size: 40px;
}
.main .top .right .pricebg > span:nth-of-type(3) {
  position: absolute;
  left: 145px;
  top: 30px;
  font-size: 16px;
}
.main .top .right .pricebg > span:nth-of-type(4) {
  position: absolute;
  right: 30px;
  top: 20px;
  display: inline-block;
}
.main .top .right .pricebg > span:nth-of-type(4) img {
  width: 100px;
  height: 24px;
}
.main .top .right .pricebg > span:nth-of-type(5) {
  position: absolute;
  right: 30px;
  top: 50px;
  font-size: 12px;
}
.main .top .right .pricebg > span:nth-of-type(6) {
  position: absolute;
  left: 30px;
  bottom: 12px;
  font-size: 15px;
  display: inline-block;
  color: #ce0e74;
  padding: 0 12px;
  background: #ffe1f3;
  border-radius: 3px;
}
.main .top .right .city {
  margin-top: 15px;
  color: #999;
  line-height: 30px;
}
.main .top .right .city p {
  color: black;
  padding: 0 10px;
  margin-left: 15px;
  height: 30px;
  display: inline-block;
  width: 250px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}
.main .top .right .city p span {
  position: absolute;
  right: 15px;
}
.main .top .right .yf {
  margin-top: 15px;
  color: #999;
  line-height: 30px;
}
.main .top .right .yf span {
  margin-right: 15px;
}
.main .top .right .color {
  margin-top: 15px;
  color: #999;
  line-height: 30px;
}
.main .top .right .color span:nth-of-type(1) {
  margin-right: 15px;
}
.main .top .right .color span:nth-of-type(2) {
  display: inline-block;
  width: 100px;
  height: 20px;
  border: 2px solid #f10180;
  text-align: center;
  line-height: 16px;
  color: black;
}
.main .top .right .gg {
  margin-top: 15px;
  color: #999;
  line-height: 30px;
}
.main .top .right .gg span:nth-of-type(1) {
  margin-right: 15px;
}
.main .top .right .gg span:nth-of-type(2) {
  display: inline-block;
  padding: 10px 15px;
  height: 20px;
  border: 2px solid #f10180;
  text-align: center;
  line-height: 4px;
  color: black;
}
.main .top .right .num {
  margin-top: 15px;
  color: #999;
  line-height: 30px;
}
.main .top .right .num span:nth-of-type(1) {
  margin-right: 15px;
}
.main .top .right .num .num-btn {
  display: inline-block;
}
.main .top .right .num .num-btn ul {
  display: flex;
  width: 73px;
  height: 28px;
  border: 1px solid #999;
}
.main .top .right .num .num-btn ul li:nth-of-type(1) {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f9f8f8;
  color: #333;
  font-size: 21px;
  line-height: 28px;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
}
.main .top .right .num .num-btn ul li:nth-of-type(1):hover {
  opacity: 1;
}
.main .top .right .num .num-btn ul li:nth-of-type(2) input {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  outline: none;
  vertical-align: super;
  border-top: none;
  border-bottom: none;
  text-align: center;
}
.main .top .right .num .num-btn ul li:nth-of-type(3) {
  height: 100%;
  text-align: center;
  background-color: #f9f8f8;
  color: #333;
  font-size: 21px;
  line-height: 28px;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
}
.main .top .right .num .num-btn ul li:nth-of-type(3):hover {
  opacity: 1;
}
.main .top .right .addcar {
  position: absolute;
  margin-top: 30px;
  left: 40px;
}
.main .top .right .addcar a {
  display: inline-block;
  background: #f03867;
  width: 252px;
  height: 48px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  text-decoration: none;
}
.main .top .right .fw {
  display: flex;
  position: absolute;
  bottom: 2px;
  border-top: 1px dashed #e2e2e2;
  padding-top: 9px;
}
.main .top .right .fw > span:nth-of-type(1) {
  margin-right: 15px;
}
.main .top .right .fw p {
  display: inline-block;
}
.main .top .right .fw p span {
  font-size: 12px;
  display: inline-block;
  background-image: url(../img/produc-sheet.png);
  background-position: -627px -190px;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin: 0 5px;
}
.main .produc-center {
  margin-top: 50px;
}
.main .produc-center .list {
  height: 36px;
  display: flex;
  justify-content: start;
  border: 1px solid #999;
  border-bottom: 3px solid black;
}
.main .produc-center .list li {
  height: 35px;
  padding: 10px 20px;
  border-left: 1px solid #999;
  border-bottom: 3px solid black;
}
.main .produc-center .list li a {
  text-decoration: none;
  display: inline-block;
}
.main .produc-center .list li:nth-of-type(1) {
  border-left: none;
}
.main .produc-center .list li:hover {
  border-bottom: 3px solid #f10180;
}
.main .produc-center .list li:hover a {
  color: #f10180;
}
.main .produc-center > p {
  margin: 15px 0;
}
.main .produc-center > p span {
  background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
  background-position: -494px -190px;
  width: 23px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.main .produc-center > p a {
  color: #1d94d1;
  text-decoration: underline;
}
.main .produc-center .parameter {
  position: relative;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #f10180;
  background: url('../img/detial_line.png') repeat-x bottom;
  margin-bottom: 10px;
}
.main .produc-center .parameter span:nth-of-type(1) {
  background-image: url(//shop.vipstatic.com/img/detail/detail-sprites-hash-5216deac.png?d775612b);
  background-position: -275px -234px;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 9px;
  left: 0;
}
.main .produc-center .parameter span:nth-of-type(2) {
  color: #999;
}
.main .produc-center .table {
  position: relative;
}
.main .produc-center .table tr .left {
  text-align: right;
  background-color: #f5f5f5;
  color: #666;
  width: 90px;
  font-weight: 700;
  vertical-align: middle;
}
.main .produc-center .table tr td {
  border: 1px solid #ededed;
  padding: 10px;
  color: #999;
  width: 370px;
}
.main .produc-center .table .table-right {
  position: absolute;
  right: 0;
}
.main .produc-center .table ._none {
  display: none;
}
.main .produc-center .table .more {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  border: 1px solid #ededed;
  border-top: 0;
  cursor: pointer;
}
.main .produc-center .table .more span {
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url('../img/sprite-sheet.png');
  background-position: -206px -172px;
}
.main .produc-center .particulars {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
